@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Light.ttf') format('ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg-primary: #C2BFCF;
  --primary: #353237;
  --secondary: #7B766C;
  --tertiary: #ABA597;
  --quarternary: #C6BDA7;
  --neu-shadow: -3px -3px 5px rgba(239, 237, 230, 0.5), 3px 3px 5px rgba(53, 50, 55, 0.5);
  --neu-less: -1px -1px 4px rgba(239, 255, 255, 0.5), 1px 1px 4px rgba(53, 50, 55, 0.5);
  --neu-border: 2px solid rgba(123, 118, 108, 0.2);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Inter';
  color: var(--primary);
  padding: 10px;
  line-height: 1.6rem;
  
}

a, a:link, a:visited, a:hover, a:active {
  
}

a.active {
  font-weight: bold;
  box-shadow: var(--neu-shadow);
  border-radius: 18px;
}

a.inactive {
  box-shadow: var(--neu-less);
  border-radius: 18px;
}

li {
  list-style-type: none;
}

.neu-shadow {
  box-shadow: var(--neu-shadow);
}

.neu-less {
  box-shadow: var(--neu-less);
}

.neu-border {
  border: var(--neu-border);
}

