/*

User Styles

*/

@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Light.ttf') format('ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/Inter/static/Inter-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  --bg-primary: #d2cfe2;
  --primary: #353237;
  --secondary: #2c4431;
  --tertiary: #f6d0c4;
  --quarternary: #C6BDA7;
  --neu-shadow: -3px -3px 5px rgba(239, 237, 230, 0.5), 3px 3px 5px rgba(53, 50, 55, 0.5);
  --neu-less: -1px -1px 4px rgba(239, 255, 255, 0.5), 1px 1px 4px rgba(53, 50, 55, 0.5);
  --neu-border: 2px solid rgba(123, 118, 108, 0.2);
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  font-family: 'Inter';
  color: var(--primary);
  font-size: 1rem;
  line-height: 1.6rem;

  @media screen and (min-width: 481px) {
    font-size: 1.2rem;
    line-height: 2.1rem;
  }  
}

ul {
  margin-block-start: 0;
  margin-block-end: 0;
}

li {
  list-style-type: none;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  font-weight: 400;
}

a:hover, a:hover::after {
  text-decoration: underline;
}

a.nav-link, a.nav-link:link, a.nav-link:visited, a.nav-link:hover, a.nav-link:active {
  color: var(--secondary);
  text-decoration: none;
  padding: 8px 12px;
  text-align: center;
  width: 100%;
  
  @media screen and (min-width: 481px) {
    font-size: 1.2rem;
  }
}

a.link-about, a.link-about:link, a.link-about:visited, a.link-about:hover, a.link-about:active {
  color: var(--secondary);
}

a.link-about::after {
  content: "";
  display: inline-block;
  background-image: url('./assets/icons/link.svg');
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--secondary);
  transform: translateY(-50%);
  width: 0.7rem;
  height: 0.7rem;
  filter: invert(18%) sepia(12%) saturate(1574%) hue-rotate(80deg) brightness(97%) contrast(81%);
}

a.project-header, a.project-header:link, a.project-header:visited, a.project-header:hover, a.project-header:active {
  color: var(--secondary);
}

a.link-repo, a.link-repo:link, a.link-repo:visited, a.link-repo:hover, a.link-repo:active {
  color: var(--secondary);
}

a.link-repo {
  color: var(--secondary);
  margin-top: 10px;
}

a.link-repo::after {
  content: "";
  display: inline-block;
  background-image: url('./assets/icons/link2.png');
  background-size: contain;
  background-repeat: no-repeat;
  color: var(--secondary);
  width: 1rem;
  height: 1rem;
  filter: invert(18%) sepia(12%) saturate(1574%) hue-rotate(80deg) brightness(97%) contrast(81%);
  margin: 0.25rem 0 0 0.25rem;
}

a.active {
  font-weight: bold;
  box-shadow: var(--neu-shadow);
  border-radius: 18px;
}

a.inactive {
  box-shadow: var(--neu-less);
  border-radius: 18px;
}

.neu-shadow {
  box-shadow: var(--neu-shadow);
}

.neu-less {
  box-shadow: var(--neu-less);
}

.neu-border {
  border: var(--neu-border);
}

.call-to-action {
  color: var(--secondary);
  text-decoration: none;
  padding: 15px;
  text-align: center;
  width: 50vw;
  font-size: 1.1rem;

  @media screen and (min-width: 481px) {
    font-size: 1.6rem;
  }
}